.page-container{
    width: 78%;
    min-height: 100vh;
    position: relative;
}
.dropDown_container{
    min-height:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.dropDown_bar{
    border: none;
    height:40px;
    min-width: 200px;
    border-radius:10px;
    padding: 0px 10px 0px 45px;
    box-shadow:  19px 19px 35px #c3c3c3,-19px -19px 58px #f2f6fb;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.btn{
    border: none;
    height:40px;
    min-width: 70px;
    border-radius:10px;
    background: #f2f6fb;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
    box-shadow:  19px 19px 35px #c3c3c3,-19px -19px 58px #f2f6fb;
    cursor: pointer;
}


.tbl_Chart-container{
    display: grid;
    grid-template-areas:
    'DataTable DataTable DataTable chart chart chart';
    grid-gap: 10px;
}

.table_container{
    grid-area: DataTable;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.table_container>h4{
    color:#0854DA;
}

.chart_container{
    grid-area: chart;
}
