.pi_container{
    display: grid;
    grid-template-areas: 
    'chart1 chart1 chart1 chart1 chart1 chart1'
    'chart2 chart2 chart2 chart2  chart2  chart2';
    grid-gap: 10px;
}

.s{
    grid-area: chart1;
}

.l{
    grid-area: chart2;
}


.pi_sub-container{
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    margin-top: 30px;
    margin-left: 35px;
    height: 320px;
	width: 330px;
	border-radius: 20px;
    /* background: #e0e0e0; */
    box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
	position: relative;
    cursor: pointer;
}

