.resourse_summeries_pageContainer{
    width: 78%;
    min-height: 100vh;
    position: relative;
}

.resourse_summeries_tbl_container{
    display: grid;
    grid-template-areas:
    'DataTable DataTable DataTable DataTable2 DataTable2 DataTable2';
}

.resourse_summeries_dropDown_bar_container{
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rs_table1_container{
    grid-area: DataTable;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.rs_table1_container>h4{
    color:#0854DA;
}

.rs_table2_container{
    margin-top: 40px;
    grid-area: DataTable2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    flex-direction: column;
    gap: 40px;
}

.rs_table2_container>h4{
    color:#0854DA;
}